<template name="contractDeploy">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4>Contract Deploy</h4>
    </div>
    <!-- tableではなくてフォームにしたほうがよい -->
    <table class="table">
      <tbody>
          <tr>
            <!-- 各パラメーターを設置 
            <th scope="row">param1</th>
            <td>{{currentProvider}}</td>
          </tr>
          <tr>
            <th scope="row">param2</th>
            <td>{{isMining}}</td>
          </tr>
          <tr>
            <th scope="row">param3</th>
            <td>{{currentHashrate}}</td>
          </tr>
          <tr>
            <th scope="row">param4</th>
            <td>{{currentPeerCount}}</td>  -->
          </tr>
      </tbody>
    </table>
<!-- デプロイボタンを設置
  デプロイ時のメソッドは、contract_deploy.jsに記載する
  http://qiita.com/azusa-kikuchi/items/405154b3619ca30ed14c
-->
  </div>
</template>
