<template name="contract">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4>Contract Deploy</h4>
    </div>

    <table class="table">
      <tbody>
          <tr>
            <th scope="row">BTC価格</th>
            <td>
              <form class="btc-price">
                <input id="btc-price" type="text" name="text" placeholder="例：50,000円" />
              </form>
            </td>
          </tr>
          <tr>
            <th scope="row">BTC数量</th>
            <td>
              <form class="btc-amount">
                <input type="text" name="text" id="btc-amount" placeholder="例：1 BTC" />
              </form>
            </td>
          </tr>
          <tr>
            <th scope="row">実行日</th>
            <td>
              <form class="exercise-day">
                <input type="text" name="text" id="exercise-day" placeholder="例：2016年4月25日" />
              </form>
            </td>
          </tr>
          <tr>
            <th scope="row">プレミアム</th>
            <td>
              <form class="premium">
                <input type="text" name="text" id="premium" placeholder="例：5,000円" />
              </form>
            </td>
          </tr>
          <tr>
            <th scope="row">ポジション</th>
            <td>
              <form class="position">
                <input type="text" name="text" id="position" placeholder="例：buy" />
              </form>
            </td>
          </tr>
      </tbody>
    </table>
    <!-- TODO:ボタンを中央に表示する -->
  </div>
  <input type="submit" class="btn btn-success" id="btn" value="デリバティブ商品を登録する">
  <p>{{ten}}</p>
</template>
