<template name="contract">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4>Contract Deploy</h4>
    </div>

    <table class="table">
      <tbody>
          <tr>
            <th scope="row">BTC価格</th>
            <td>
              <form class="btc-price">
                <input type="text" name="text" placeholder="例：50,000円" />
              </form>
            </td>
          </tr>
          <tr>
            <th scope="row">BTC数量</th>
            <td>
              <form class="btc-amount">
                <input type="text" name="text" placeholder="例：1 BTC" />
              </form>
            </td>
          </tr>
          <tr>
            <th scope="row">実行日</th>
            <td>
              <form class="exerise-day">
                <input type="text" name="text" placeholder="例：2016年4月25日" />
              </form>
            </td>
          </tr>
          <tr>
            <th scope="row">プレミアム</th>
            <td>
              <form class="premium">
                <input type="text" name="text" placeholder="例：5,000円" />
              </form>
            </td>
          </tr>
          <tr>
            <th scope="row">ポジション</th>
            <td>
              <form class="position">
                <input type="text" name="text" placeholder="例：buy" />
              </form>
            </td>
          </tr>
      </tbody>
    </table>
<!-- デプロイボタンを設置
  デプロイ時のメソッドは、contract_deploy.jsに記載する
  http://qiita.com/azusa-kikuchi/items/405154b3619ca30ed14c
-->
  </div>
</template>
